/* body background */
body {
  background-image: url("assets/background.jpg");
  background-color: rgb(255, 255, 255);
}

/* audio */
#myAudio {
  display: none;
}

/* image */
.img-middle{
  display: block;
  margin: auto;
}

.image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
  
.image-container img {
  width: 20%;
  margin: 5px;
}
  
@media (max-width: 620px) {
  .image-container img {
    width: 30%;
  }
}

/* button bigger */
.image-button:hover {
  transform: scale(1.2);
}
/* not sure */
#game-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#section-title {
  font-size: 1.2em;
  font-weight: lighter;
  margin: 0;
}

#page-title{
  font-size:15vw;
  font-weight: bold;
  margin: 0;
  text-align: center;
  color: white;
}
/* leaderboard */
.leaderboard {
  padding: 10px;
  overflow-y: auto;
  max-height: 40vW;
}

.leaderboard h2 {
  color: white;
  margin-top: 0;
  font-size:4vw;
  text-align: center;
}
.leaderboard table {
  border-collapse: collapse;
  width: 100%;
}
.leaderboard th, td {
  font-size:2vw;
  border: 1px solid white;
  padding: 8px;
  text-align: left;
  color: white;
}
.leaderboard th {
  background-color: #00000000;
  color: white;
}
/* quary */
.left {
  padding: 30px;
  float: left;
  width: 27%;
  margin-left: auto;
  margin-right: auto;
}

.middle {
  padding: 30px;
  float:left;
  width: 27%;
  margin-left: auto;
  margin-right: auto;
}

.right {
  padding: 30px;
  float: left;
  width: 27%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 964px) {
  .left, .middle, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
/* custom scroll bar */
::-webkit-scrollbar {
  width: 1vb;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff;
}


#board {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%; /* Adjust the width as needed */
  max-width: 600px; /* Maximum width of the board */
}

#board img {
  width: 105%; /* Enlarge the image to fit the container */
  height: 30%;
  max-width: 110%; /* Ensure the image doesn't exceed its original size */
  margin-top: 100px;
  margin-left: 200px;
}

.grid-container {
  position: absolute;
  top: 60%; /* Center vertically */
  left: 88%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the grid exactly */
  width: 95%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}


.grid-item {
  width: 85%; 
  height: 70%; 
  background-color: transparent; /* Make the div background transparent */
  cursor: pointer;
}

.grid-item:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white on hover */
}

.Player {
  position: absolute; /* Set to absolute positioning */
  top: 0; /* Position at the top */
  right: 0; /* Position at the right */
  display: flex;
  flex-direction: column; /* Stack the images vertically */
  align-items: flex-end; /* Align items to the right */
  width: auto; /* Auto width */
  padding-right: 20px; /* Add padding to the right */
  box-sizing: border-box; /* Include padding in total width */
  margin-top: 100px;
}

.Player img {
  width: 150px; 
  height: auto; /* Maintain aspect ratio */
  margin-top: 10px; /* Add spacing between images */
  margin-right: 340px;
  
}

.player-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: auto;
  padding-right: 20px;
  box-sizing: border-box;
  margin-top: 100px;
}

#game-container {
  position: relative;
  width: 700px; /* Set the width */
  height: 600px; /* Set the height */
  margin-top: 100px; /* Center the container */
  margin-left: 250px;
}

#turn-count {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 75px;
  margin-top: 40px;
  margin-right: 200px;
}

#turnCountX {
  bottom: 20px;
  margin-bottom: 30px;  /* Increase this value to increase the gap */
}

#win-message {
  position: absolute;
  bottom: 200px; /* Adjust vertical position as needed */
  right: 200px; /* Adjust horizontal position to position it on the right side */
  /*background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  padding: 10px;
  font-size: 60px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
