#game-container4p {
  position: relative;
  width: 800px;
  height: 700px;
  top: 0;
  left: 150px;
  margin-top: 80px;
  margin-left: 0;
  overflow: hidden;
}

@media (max-width: 1300px) {
  #game-container4p {
    position: relative;
    width: 800px;
    height: 700px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 80px;
    margin-left: 0;
    overflow: hidden;
  }
}

.Player4p {
  position: absolute; 
  top: 0; 
  right: 300px;
  display: flex;
  flex-direction: column; 
  align-items: flex-end; 
  padding-right: 20px; 
  box-sizing: border-box; 
  margin-top: 100px;
}
  
.Player4p img {
  width: 110px; 
  height: auto;
  margin-top: 10px; 
  margin-left: 50px;
}

#turn-count4p {
  position: absolute;
  top: 20px;
  right: 200px;
  color: white;
  font-size: 55px;
  margin-top: 60px;
  font-family: monospace;
}

#win-message4p {
  position: absolute;
  top: 0;
  right: 180px; 
  color: white;
  padding: 10px;
  font-size: 60px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 600px;
  font-family: monospace;
}

#winner-input-container4p {
  position: absolute;
  top: 0;
  right: 180px;
  margin-top: 700px;
}

#winnerNameInput4p {
  font-family: monospace;
}

#submitWinnerNameBtn4p {
  font-family: monospace;
}

@media (max-width: 1300px) {
  .Player4p {
    position: absolute; 
    top: 700px; 
    right: 50%; 
    transform: translateX(+50%);
    display: flex;
    flex-direction: row; 
    align-items: flex-end; 
    padding-right: 20px; 
    box-sizing: border-box; 
    margin-top: 100px;
  }
  
  .Player4p img {
    width: 110px; 
    height: auto;
    margin-top: 10px; 
    margin-left: 50px;
  }

  #turn-count4p {
    position: absolute;
    top: 820px;
    right: 50%;
    transform: translateX(+62%);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: white;
    font-size: 55px;
    margin-top: 60px;
    font-family: monospace;
    letter-spacing: 127px;
  }

  #win-message4p {
    position: absolute;
    top: 450px;
    right: 50%; 
    transform: translateX(+50%);
    color: white;
    padding: 10px;
    font-size: 60px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 600px;
    margin-left: 0;
    font-family: monospace;
  }
  
  #winner-input-container4p {
    position: absolute;
    top: 500px;
    right: 50%;
    transform: translateX(+50%);
    margin-top: 650px;
    margin-left: 0;
    padding-bottom: 50px;
  }
}
@media (max-width: 560px) {
  .Player4p {
    position: absolute; 
    top: 700px; 
    right: 40%; 
    transform: translateX(+70%);
    display: flex;
    flex-direction: row; 
    align-items: flex-end; 
    padding-right: 20px; 
    box-sizing: border-box; 
    margin-top: 100px;
  }
  
  .Player4p img {
    width: 90px; 
    height: auto;
    margin-top: 10px; 
    margin-left: 40px;
  }

  #turn-count4p {
    position: absolute;
    top: 820px;
    right: 40%;
    transform: translateX(+82%);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: white;
    font-size: 55px;
    margin-top: 60px;
    font-family: monospace;
    letter-spacing: 97px;
  }

  #win-message4p {
    position: absolute;
    top: 450px;
    right: 40%; 
    transform: translateX(+100%);
    color: white;
    padding: 10px;
    font-size: 50px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 600px;
    margin-left: 0;
    font-family: monospace;
  }

  #winner-input-container4p {
    position: absolute;
    top: 500px;
    right: 40%;
    transform: translateX(+97%);
    margin-top: 650px;
    margin-left: 0;
    padding-bottom: 10px;
  }

  #game-container4p {
    position: relative;
    width: 800px;
    height: 700px;
    top: 0;
    left: 65%;
    transform: translateX(-40%);
    margin-top: 80px;
    margin-left: 0;
    overflow: hidden;
  }

  #turntext {
    display: flex;
    justify-content: center;
  }
}