#game-container2p {
  position: relative;
  width: 600px;
  height: 600px;
  top: 0;
  left: 250px;
  margin-top: 80px;
  margin-left: 0;
  overflow: hidden;
}

.Player2p {
    position: absolute; 
    top: 0; 
    right: 300px;
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    width: auto; 
    padding-right: 20px; 
    box-sizing: border-box; 
    margin-top: 100px;
}

  
.Player2p img {
width: 160px;
margin-top: 10px; 
margin-left: 30px;
}

#turncounter { 
  position: absolute;
  top: 20px;
  right: 180px;
  color: white;
  font-size: 90px;
  margin-top: 20px;
  margin-right: 30px;
  font-family: monospace;
} 

#turnCountX {
  bottom: 2%;
  margin-bottom: 3%;  
}


  #win-message2p {
    position: absolute;
    top: 0;
    /* bottom: 0;  */
    right: 220px; 
    color: white;
    padding: 10px;
    font-size: 60px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 500px;
    /* margin-bottom: 100px; */
    font-family: monospace;
  }
  
  
  #winner-input-container2p {
    position: absolute;
    top: 0;
    right: 235px;
    margin-top: 600px ;
  }

  #winner-input-container {
    position: absolute;
    top: 0;
    right: 215px;
    margin-top: 700px;
  }
  
  #winnerNameInput {
    font-family: monospace;
  }
  
  #submitWinnerNameBtn {
    font-family: monospace;
  }

  @media (max-width: 1300px) {
    #game-container2p {
      position: relative;
      width: 600px;
      height: 600px;
      top: 0;
      left: 50%; /* Half of the container's width */
      transform: translateX(-50%);
      margin-top: 80px;
      overflow: hidden;
    }

    .Player2p {
      position: absolute;
      top: 700px; /* Adjust the top position based on your design */
      right: 50%; /* Half of the total width of two players (2 * 160px + 2 * 30px) */
      transform: translateX(+50%);
      display: flex;
      flex-direction: row;
      justify-content: space-between; /* This will align the player images horizontally */
      width: 400px; /* Adjust based on your design */
    }

    .Player2p img {
      width: 160px;
      margin: 0 15px; /* Horizontal margin */
    }

    #turncounter {
      position: absolute;
      top: 880px; /* Adjust the top position to move it below the game container */
      right: 50%; /* Center it horizontally */
      color: white;
      font-size: 90px;
      font-family: monospace;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      transform: translateX(+72%);
      letter-spacing: 120px;
    }

    #turnCountX {
      margin-right: 20px;
    }

    #win-message2p {
      position: absolute;
    top: 550px;
    right: 50%; 
    transform: translateX(+50%);
    color: white;
    padding: 10px;
    font-size: 60px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 600px;
    margin-left: 0;
    font-family: monospace;
    }
    
    #winner-input-container2p {
      position: absolute;
    top: 600px;
    right: 50%;
    transform: translateX(+50%);
    margin-top: 650px;
    margin-left: 0;
    padding-bottom: 50px;
    }
}

@media (max-width: 560px) {
  .Player2p {
    position: absolute;
      top: 650px; /* Adjust the top position based on your design */
      right: 50%; /* Half of the total width of two players (2 * 160px + 2 * 30px) */
      transform: translateX(+60%);
      display: flex;
      flex-direction: row;
      justify-content: space-between; /* This will align the player images horizontally */
      width: 200px; /* Adjust based on your design */
  }

  .Player2p img {
    width: 100px;
    margin: 0 15px; /* Horizontal margin */
  }

  #turncounter {
    position: absolute;
    top: 800px; /* Adjust the top position to move it below the game container */
    right: 50%; /* Center it horizontally */
    color: white;
    font-size: 60px;
    font-family: monospace;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: translateX(+100%);
    letter-spacing: 70px;
  }

  #turnCountX {
    margin-right: 20px;
  }

  #win-message2p {
  position: absolute;
  top: 550px;
  right: 50%; 
  transform: translateX(+75%);
  color: white;
  padding: 10px;
  font-size: 40px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 420px;
  margin-left: 0;
  font-family: monospace;
  }

  #winner-input-container2p {
  position: absolute;
  top: 550px;
  right: 40%;
  transform: translateX(+52%);
  margin-top: 500px;
  margin-left: 0;
  padding-bottom: 50px;
  }
}